## Lab

Import Libraries

In [10]:
import pandas as pd
import numpy as np
import scipy.stats as st

### **One tailed t-test** 

- In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used.

In [ ]:
##############Hypotheses############


#H0 - The new machine's packing time is the same or more, on average
#H1 - The new machine's packing time is faster, on average

In [ ]:
To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [5]:
data = pd.read_csv('files_for_lab/machine2.txt', sep = ' ')
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [8]:
print("new machine mean is: ",round(data['New_machine'].mean(),2))
print("old machine mean is: ",round(data['Old_machine'].mean(),2))

new machine mean is:  42.14
old machine mean is:  43.23

In [12]:
print('p value (single tailed): ',st.ttest_1samp(data['New_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

The 0 Hypothesis is a lot less than 0.05, H0 is rejected.

## Matched Pairs Test 

- In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [ ]:
##############Hypotheses############


#H0 - Defense and attack scores are the same
#H1 - Defense and attack scores are different

In [14]:
pok = pd.read_csv('files_for_lab/pokemon.csv')
pok

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
st.ttest_rel(pok['Attack'], pok['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [17]:
#E-05, the H1 is alive! We reject H0 again, as the pvalue < 0.05

## Inferential statistics - ANOVA

### **Part 1**

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power.

 - Null hypothesis

In [ ]:
# H0 - There is no difference in the mean etching rate

 - Alternate hypothesis

In [ ]:
# H1 - There is a difference in the mean etching rate

 - Level of significance

In [ ]:
# 0.05 - It's not an urgent matter (which would require a lower level of significance)

### **Part 2**

In [22]:
micro = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
micro

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

 - Test statistic

In [25]:
micro['power_rate'] = micro.groupby('Power ').cumcount() ##is the new index 

micro_pivot = micro.pivot(index='power_rate', columns='Power ', values='Etching Rate')
micro_pivot.columns = ['Power_'+str(x) for x in micro_pivot.columns.values]
micro_pivot.head()

            Power_160 W  Power_180 W  Power_200 W
power_rate
0                  5.43         6.24         8.79
1                  5.71         6.71         9.20
2                  6.22         5.98         7.90
3                  6.01         5.66         8.15
4                  5.59         6.60         7.55

- P-value

In [28]:
st.f_oneway(micro_pivot['Power_160 W'],micro_pivot['Power_180 W'],micro_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

Here the pvalue is essentially 0, so we must reject our H0 hypothesis.